

// Файл обнуляющих стилей
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:2;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
// COLOR
$color-icons:rgb(205, 179, 8);
body {
	background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    }   
#header {
    background-image: url("../images/back.png"); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    #logo {
        color:$color-icons;
        font-style: italic;
        font-size: 19px;
    }
    .link-header{
        color: aliceblue;
    }
    h3 {
        color: aliceblue;
        font-size: 33px;
        font-family: 'Josefin Sans', sans-serif;
        font-style: italic;
    }
    h1 {
        color: aliceblue;
        font-size: 55px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
    }
    .btn {
        color:aliceblue;
        background-color: rgb(205, 179, 8);
        border: none;
        border-radius: 0px;
        font-size: 14px;
        padding: 13px 33px;
    }
}

.section-servis{
    h6 {
        font-size: 40px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding-top: 150px;
    }
    .services-head{
        font-size: 18px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-style: italic;
       
    }
    .column-title {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
    }
  
    svg {
        width: 40px;
        height: 40px;
        color: rgb(205, 179, 8);
        margin-top: 10px;
    }
    .icons {    
        text-align: center;
        width: 80px;
        height: 80px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border: 2px solid  rgb(205, 179, 8);
        border-radius: 50%;
    }
}
.section-portfolio {
    background-color: rgb(209, 209, 209);
    padding: 150px 0 150px;
    .portfolio-head{
        font-size: 18px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-style: italic;
    }
    h6 {
        font-size: 40px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
    }
    .card-text{
        font-size: 20px;
        text-align: center;
    }
    h6{
        font-size: 20px;
    }
}
footer{
    background-color: rgb(255, 255, 255);
    
}

@media all and (max-width: 1024px){
    

}